.savedExercises {
    color: white;
    width: 35vh;
    height: 35vh;
    background-color: white;
    border-radius: 5px;
    background-color: #191a1c;
}

.img {
    width: 35vh;
    height: 20vh;
}

.bottom {
    display: flex;
	justify-content: space-around;
	align-items: center;
    padding-top: 20px;
}

.top {
    padding-top: 10px;
}