
.fitness {
  text-align: center;
}

.main-board {
  min-height: 100vh;
  width: 100%;
  background-color: #1e2225;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.days {
  border-radius: 10px;
  min-width: 100vh;
  height: 80vh;
  background-color: #1e2225;
  margin-left: 10vh;
  margin-right: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

/*textarea {
  height: 20vh;
  width: 40vh;
  background-color: powderblue;
  color:navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border-radius: 10px;
  border-color: mediumpurple;
  border: 3px solid;
}*/

.buttons {
  display: flex;
  justify-content: space-evenly;
}

label {
  padding-top: 20px;
}

input {
  background-color: #e5eefc;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
}

.wrapper {
  padding: 20px;
}

.exeInfo {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*rgba(17,183,122,.856)*/

.form {
  background-color: #191a1c;
  width: 50vh;
  heigth: 70vh;
  border-radius: 10px;
}

.inDetail {
  width: 7vh;
}

.int {
  display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.saveExe {
  padding-top: 20px;
  padding-bottom: 20px;
}

.save {
  background-color: rgba(17,183,122,.856);
  border-radius: 5px;
  border-style: solid;
  border-color: #1e2225;
}

input, select {
  background-color: #1e2225;
  border-color: rgba(17,183,122,.856);
  color: white;
}
/*background-color: #6ac88d;*/